body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0b132b;
    color: white;
}

header {
    background: #1c2541;
    padding: 15px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

.card {
    background: #3a506b;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}
